.body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

#cursor {
    cursor: url(images/cur.png), auto;
    }

.helloworld{
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.hwtext{
    color: rgb(70, 70, 70);
    text-align: center;
    line-height: 23px;
}

.profile{
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    height: 150px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid rgb(220, 220, 220) 0.1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.profile:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.skill{
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    height: 150px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid rgb(220, 220, 220) 0.1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.skill:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.noob{
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    height: 140px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid rgb(220, 220, 220) 0.1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.noob:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.learn{
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    height: 140px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid rgb(220, 220, 220) 0.1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.learn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
}

.history{
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 300px;
    max-width: 800px;
    height: auto;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.historys{
    min-width: 250px;
    max-width: 85%;
    width: 650px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    transition: all 0.3s;
    margin-top: 40px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.historys:hover{
    transform: translateY(-4px);
}

.historytext{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.historyday{
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
    color: rgb(90, 90, 90)
}

.hello{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: top 1s ease-out;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.helloback{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-img{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:block;
    object-fit: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    margin: -10px;
    width: calc(100% + 20px);
    transition: top 1s ease-out;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hello-mo-text{
    position: fixed;
    z-index: 10003;
    display: flex;
    transition: top 1s ease-out;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    color: white;
    animation-name:hello;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }

    @keyframes hello{
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

#hello-mo-div{
    position: fixed;
    z-index: 20000;
    animation-name: hellodiv;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    }

    @keyframes hellodiv{
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }