.work{
    background-color: rgba(255, 255, 255, 0.3);
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.work-text{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.works{
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    min-height: 250px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid rgb(220, 220, 220) 0.1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.works:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.works-h{
    font-size: 18px;
    text-align: center;
}

.works-icon{
    height: 25px;
    margin-left: 310px;
}

.works-img{
    height: 120px;
    width: 350px;
    border-radius: 10px;
    display:block;
    object-fit: cover;
}

.works-icon {
    transition: all 0.3s;
    padding-bottom: 10px;
}

.works-icon:hover{
    transform: scale(1.2);
}